{% extends "base.html" %}
{% block title %}ADMIN Query Dashboard{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/adm_dashboard.css">

{% endblock %}
{% block content %}
<div class="container-fluid container-padding-50">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-4, main-header">Enquiry Dashboard</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="">View other Dashboards</h3>
                            <ul class="hide-bp">
                                <li class="list-padding"><a class="dashboard-links" href="#">Admin Dashboard</a></li>
                                <li class="list-padding"><a class="dashboard-links" href="#">Inventory</a></li>
                                <li class="list-padding"><a class="dashboard-links" href="#">Manage Accounts</a></li>
                                <li class="list-padding"><a class="dashboard-links" href="#">Enquiry</a></li>
                                <li class="list-padding"><a class="dashboard-links" href="#">FAQ</a></li>
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                <table class="table table-light" >
                    <thead>
                        <tr>
                          <th>
                            Total Enquiries Unanswered:
                          </th>
                          {% if count == 0 %}
                          <th colspan="7">0</th>
                          {% elif count == 1 %}
                          <th colspan="7"> 1 </th>
                          {% else %}
                          <th colspan="7">{{ count }} </th>
                          {% endif %}

                        </tr>
                        <tr>
                            <th> Enquiry ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Enquiry Code Type</th>
                            <th>Enquiry Type</th>
                            <th>Comments</th>
                            <th>User Type</th>
                            <th>Reply</th>
                            <th colspan = "2" style="text-align:center;"> Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for enquiry in enquiry_list %}
                        <tr>
                            <td>{{enquiry.get_count()}}</td>
                            <td>{{enquiry.get_name()}}</td>
                            <td>{{enquiry.get_enquiry_type()}}</td>
                            <td>{{enquiry.get_email()}}</td>
                            <td>{{enquiry.get_comments()}}</td>
                            <td>{{enquiry.get_UserType()}}</td>

                            {% if enquiry.get_enquiry_type() == "B" %}
                            <td>Question about Books</td>
                            {% elif enquiry.get_enquiry_type() == "F" %}
                            <td>Feedback</td>
                            {% elif enquiry.get_enquiry_type() == "R" %}
                            <td>Report Vulnerability</td>

                            {% endif %}
                            <td>{{enquiry.get_comments()}}</td>
                            <td>{{enquiry.get_reply()}}</td>

                            {% if enquiry.get_UserType() == "Customer" %}
                            <td>
                                <a href ="/update-enq/{{enquiry.get_count()}}" class="btn btn-warning">Reply</a>
                            </td>
                            {% elif enquiry.get_UserType() == "Guest" %}
                            <td>
                                <a href ="/mail-enq/{{enquiry.get_count()}}" class="btn btn-warning">Reply</a>
                            </td>

                            {% endif %}
                            <td>
                                <form action="{{url_for('delete_enq',id=enquiry.get_count())}}" method="POST">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-padding-50"></div>
{% endblock %}
