.grid-form-spacer {
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.submitcenter {
    margin:0 auto;
    display:block;
}

.themecolor {
    background-color: #588B8B;
}

.themecolor:hover {
    background-color: #588B8B;
}

.padding-top {
    padding-top: 15px;
}

.submitpadding {
    padding-top: 30px;
    padding-bottom: 30px;
}

details {
  user-select: none;
}

details>summary span.icon {
  transition: all 0.3s;
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
