/* General */
.user-container {
    background-color: #fff;
}
.user-container h2 {
    color: #999;
}
.user-container hr {
    opacity: 1;
}


/* Sidebar */
.sidebar {
    background-color: #eee;
}
.sidebar .nav-link {
    color: #4b8282;
}
.sidebar .nav-pills .nav-link.active {
    background-color: #4b8282;
}

/* Account Page */
.no-format-form {
    border: none;
    background-color: transparent;
    padding-left: 0;
}

#gender > li {
    display: inline;
    margin-right: 1.5rem;
}
.nav-link{
    transition: none;
}