{% extends "base.html" %}
{% block title %}FAQ Admin Side{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/adm_dashboard.css">

{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}

<div class="container-padding-50"></div>
<div class="card">
  <div class="card-body">
      <h1 class="display-4">FAQ Creation of FAQ form</h1>
      <h3>Here you create the FAQ forms needed for the website</h3>
      <div class="container-padding-20"></div>
      <form method="POST" action="">
        <div class="form-group container-padding-20">
          {{ render_field(form.title, class="form-control") }}
        </div>
        <div id="prof">
          <div class="form-group container-padding-20">
            {{ render_field(form.desc, class="form-control") }}
          </div>
        </div>
        <div class="container-padding-20"></div>
        <input type="submit" value="Submit" class="btn btn-warning"/>
        <input type="reset" value="Delete" class="btn btn-danger"/>
      </form>
  </div>
</div>
<div class="container-padding-50"></div>

{% endblock %}
