{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Manage Account": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar using dictionary #}
    {{ admin_sidebar("Manage Accounts") }}
    <div class="col-lg-10 py-3 px-5">
      <h2>Account settings</h2>
      <hr>
    </div>
  </div>
</div>
<a href="{{ url_for('logout') }}">Logout here</a>
{% endblock %}
