{% extends "base.html" %}

{% block title %}Admin Manage Orders{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/checkout.css">
<link rel="stylesheet" href="/static/css/manage_orders.css">

{% endblock %}

{% block content %}
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Orders</li>
      </ol>
    </div>
    <!-- Page Name -->
    <h2 class="page-name"><span>Manage Orders</span></h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="all-order-tab" data-bs-toggle="tab" data-bs-target="#all-order" type="button" role="tab" aria-controls="all-order" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="new-order-tab" data-bs-toggle="tab" data-bs-target="#new-order" type="button" role="tab" aria-controls="new-order" aria-selected="false">New</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Confirmed-order-tab" data-bs-toggle="tab" data-bs-target="#Confirmed-order" type="button" role="tab" aria-controls="Confirmed-order" aria-selected="false">Confirmed</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Shipped-order-tab" data-bs-toggle="tab" data-bs-target="#Shipped-order" type="button" role="tab" aria-controls="Shipped-order" aria-selected="false">Shipped</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="delivered-order-tab" data-bs-toggle="tab" data-bs-target="#delivered-order" type="button" role="tab" aria-controls="delivered-order" aria-selected="false">Delivered</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="all-order" role="tabpanel" aria-labelledby="all-order-tab">
          {% if all_order|length == 0 %}
          <br>
          <h4>You have not received any orders yet.</h4>
          {% else %}
          {% for order in all_order %}
          <div class="row">
              <div class="order-card col-md-9 col-12">
                  <p class="order-date" title="Order Date">{{ order.get_order_date() }}</p>
                  <h2 class="order-id" title="Order ID">#{{ order.get_order_id() }}</h2>

                  <form action="/admin/manage_orders/edit_status/{{ order.get_order_id() }}" class="row" method="POST">
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Ordered" %}
                          <input type="radio" id="Ordered" name="order-status" value="Ordered" checked="checked">
                          <label for="Ordered">&nbsp; New</label>
                          {% else %}
                          <input type="radio" id="Ordered2" name="order-status" value="Ordered">
                          <label for="Ordered2">&nbsp; New</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Confirmed" %}
                          <input type="radio" id="Confirmed" name="order-status" value="Confirmed" checked="checked">
                          <label for="Confirmed">&nbsp; Confirmed</label>
                          {% else %}
                          <input type="radio" id="Confirmed2" name="order-status" value="Confirmed">
                          <label for="Confirmed2">&nbsp; Confirmed</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Shipped" %}
                          <input type="radio" id="Shipped" name="order-status" value="Shipped" checked="checked">
                          <label for="Shipped">&nbsp; Shipped</label>
                          {% else %}
                          <input type="radio" id="Shipped2" name="order-status" value="Shipped">
                          <label for="Shipped2">&nbsp; Shipped</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Delivered" %}
                          <input type="radio" id="Delivered" name="order-status" value="Delivered" checked="checked">
                          <label for="Shipped">&nbsp; Delivered</label>
                          {% else %}
                          <input type="radio" id="Delivered2" name="order-status" value="Delivered">
                          <label for="Shipped2">&nbsp; Delivered</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12">
                          <input class="btn" title="Update Order Status" type="submit" value="Update Status">
                      </div>
                  </form>
                  <div class="row user-info">
                      <p>Name: {{ order.get_name() }} <span title="User ID">({{ order.get_user_id() }})</span></p>
                      <div class="col-6">
                          <h5>Contact</h5>
                          <p>Contact Number: {{ order.get_contact_num() }}</p>
                          <p>Email: {{ order.get_email() }}</p>
                      </div>
                      <div class="col-6">
                          <h5>Shipping</h5>
                          <p>Shipping Method: {{ order.get_ship_method() }}</p>
                          <p>Shipping Address: {{ order.get_ship_address() }}</p>
                      </div>
                  </div>
              </div>
              <br>
              <div class="col-md-3 col-12 order_summary">
                  <table>
                    <thead>
                      <tr>
                          <th colspan="4"><h5>Order Summary</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if order.get_buy_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Buy</h6></td>
                        </tr>
                        {% for book in order.get_buy_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>X{{ order.get_buy_item()[book] }}</td>
                            <td>${{ books_dict[book].get_price() }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if order.get_rent_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Rent</h6></td>
                        </tr>
                        {% for book in order.get_rent_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td colspan="2" style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>{{ "$%.2f"|format((books_dict[book].get_price()|float)*0.1) }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                      <tr class="bottom-sticky">
                          <td colspan="4">
                              <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}

      </div>

      <div class="tab-pane fade" id="new-order" role="tabpanel" aria-labelledby="new-order-tab">
          {% if new_order|length == 0 %}
          <br>
          <h4>No new orders.</h4>
          {% else %}
          {% for order in new_order %}
          <div class="row">
              <div class="order-card col-md-9 col-12">
                  <p class="order-date" title="Order Date">{{ order.get_order_date() }}</p>
                  <h2 class="order-id" title="Order ID">#{{ order.get_order_id() }}</h2>

                  <form action="/admin/manage_orders/edit_status/{{ order.get_order_id() }}" class="row" method="POST">
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Ordered" %}
                          <input type="radio" id="Ordered3" name="order-status" value="Ordered" checked="checked">
                          <label for="Ordered3">&nbsp; New</label>
                          {% else %}
                          <input type="radio" id="Ordered4" name="order-status" value="Ordered">
                          <label for="Ordered4">&nbsp; New</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Confirmed" %}
                          <input type="radio" id="Confirmed3" name="order-status" value="Confirmed" checked="checked">
                          <label for="Confirmed3">&nbsp; Confirmed</label>
                          {% else %}
                          <input type="radio" id="Confirmed4" name="order-status" value="Confirmed">
                          <label for="Confirmed4">&nbsp; Confirmed</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Shipped" %}
                          <input type="radio" id="Shipped3" name="order-status" value="Shipped" checked="checked">
                          <label for="Shipped3">&nbsp; Shipped</label>
                          {% else %}
                          <input type="radio" id="Shipped4" name="order-status" value="Shipped">
                          <label for="Shipped4">&nbsp; Shipped</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Delivered" %}
                          <input type="radio" id="Delivered3" name="order-status" value="Delivered" checked="checked">
                          <label for="Shipped3">&nbsp; Delivered</label>
                          {% else %}
                          <input type="radio" id="Delivered4" name="order-status" value="Delivered">
                          <label for="Shipped4">&nbsp; Delivered</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12">
                          <input class="btn" title="Update Order Status" type="submit" value="Update Status">
                      </div>
                  </form>
                  <div class="row user-info">
                      <p>Name: {{ order.get_name() }} <span title="User ID">({{ order.get_user_id() }})</span></p>
                      <div class="col-6">
                          <h5>Contact</h5>
                          <p>Contact Number: {{ order.get_contact_num() }}</p>
                          <p>Email: {{ order.get_email() }}</p>
                      </div>
                      <div class="col-6">
                          <h5>Shipping</h5>
                          <p>Shipping Method: {{ order.get_ship_method() }}</p>
                          <p>Shipping Address: {{ order.get_ship_address() }}</p>
                      </div>
                  </div>
              </div>
              <br>
              <div class="col-md-3 col-12 order_summary">
                  <table>
                    <thead>
                      <tr>
                          <th colspan="4"><h5>Order Summary</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if order.get_buy_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Buy</h6></td>
                        </tr>
                        {% for book in order.get_buy_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>X{{ order.get_buy_item()[book] }}</td>
                            <td>${{ books_dict[book].get_price() }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if order.get_rent_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Rent</h6></td>
                        </tr>
                        {% for book in order.get_rent_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td colspan="2" style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>{{ "$%.2f"|format((books_dict[book].get_price()|float)*0.1) }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                      <tr class="bottom-sticky">
                          <td colspan="4">
                              <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}
      </div>

      <div class="tab-pane fade" id="Confirmed-order" role="tabpanel" aria-labelledby="Confirmed-order-tab">
          {% if confirm_order|length == 0 %}
          <br>
          <h4>None of the orders are confirmed.</h4>
          {% else %}
          {% for order in confirm_order %}
          <div class="row">
              <div class="order-card col-md-9 col-12">
                  <p class="order-date" title="Order Date">{{ order.get_order_date() }}</p>
                  <h2 class="order-id" title="Order ID">#{{ order.get_order_id() }}</h2>

                  <form action="/admin/manage_orders/edit_status/{{ order.get_order_id() }}" class="row" method="POST">
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Ordered" %}
                          <input type="radio" id="Ordered5" name="order-status" value="Ordered" checked="checked">
                          <label for="Ordered5">&nbsp; New</label>
                          {% else %}
                          <input type="radio" id="Ordered6" name="order-status" value="Ordered">
                          <label for="Ordered6">&nbsp; New</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Confirmed" %}
                          <input type="radio" id="Confirmed5" name="order-status" value="Confirmed" checked="checked">
                          <label for="Confirmed5">&nbsp; Confirmed</label>
                          {% else %}
                          <input type="radio" id="Confirmed6" name="order-status" value="Confirmed">
                          <label for="Confirmed6">&nbsp; Confirmed</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Shipped" %}
                          <input type="radio" id="Shipped5" name="order-status" value="Shipped" checked="checked">
                          <label for="Shipped5">&nbsp; Shipped</label>
                          {% else %}
                          <input type="radio" id="Shipped6" name="order-status" value="Shipped">
                          <label for="Shipped6">&nbsp; Shipped</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Delivered" %}
                          <input type="radio" id="Delivered5" name="order-status" value="Delivered" checked="checked">
                          <label for="Delivered5">&nbsp; Delivered</label>
                          {% else %}
                          <input type="radio" id="Delivered6" name="order-status" value="Delivered">
                          <label for="Delivered6">&nbsp; Delivered</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12">
                          <input class="btn" title="Update Order Status" type="submit" value="Update Status">
                      </div>
                  </form>
                  <div class="row user-info">
                      <p>Name: {{ order.get_name() }} <span title="User ID">({{ order.get_user_id() }})</span></p>
                      <div class="col-6">
                          <h5>Contact</h5>
                          <p>Contact Number: {{ order.get_contact_num() }}</p>
                          <p>Email: {{ order.get_email() }}</p>
                      </div>
                      <div class="col-6">
                          <h5>Shipping</h5>
                          <p>Shipping Method: {{ order.get_ship_method() }}</p>
                          <p>Shipping Address: {{ order.get_ship_address() }}</p>
                      </div>
                  </div>
              </div>
              <br>
              <div class="col-md-3 col-12 order_summary">
                  <table>
                    <thead>
                      <tr>
                          <th colspan="4"><h5>Order Summary</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if order.get_buy_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Buy</h6></td>
                        </tr>
                        {% for book in order.get_buy_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>X{{ order.get_buy_item()[book] }}</td>
                            <td>${{ books_dict[book].get_price() }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if order.get_rent_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Rent</h6></td>
                        </tr>
                        {% for book in order.get_rent_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td colspan="2" style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>{{ "$%.2f"|format((books_dict[book].get_price()|float)*0.1) }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                      <tr class="bottom-sticky">
                          <td colspan="4">
                              <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}
      </div>

      <div class="tab-pane fade" id="Shipped-order" role="tabpanel" aria-labelledby="Shipped-order-tab">
          {% if ship_order|length == 0 %}
          <br>
          <h4>None of the orders have been shipped.</h4>
          {% else %}
          {% for order in ship_order %}
          <div class="row">
              <div class="order-card col-md-9 col-12">
                  <p class="order-date" title="Order Date">{{ order.get_order_date() }}</p>
                  <h2 class="order-id" title="Order ID">#{{ order.get_order_id() }}</h2>

                  <form action="/admin/manage_orders/edit_status/{{ order.get_order_id() }}" class="row" method="POST">
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Ordered" %}
                          <input type="radio" id="Ordered7" name="order-status" value="Ordered" checked="checked">
                          <label for="Ordered7">&nbsp; New</label>
                          {% else %}
                          <input type="radio" id="Ordered8" name="order-status" value="Ordered">
                          <label for="Ordered8">&nbsp; New</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Confirmed" %}
                          <input type="radio" id="Confirmed7" name="order-status" value="Confirmed" checked="checked">
                          <label for="Confirmed7">&nbsp; Confirmed</label>
                          {% else %}
                          <input type="radio" id="Confirmed8" name="order-status" value="Confirmed">
                          <label for="Confirmed8">&nbsp; Confirmed</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Shipped" %}
                          <input type="radio" id="Shipped7" name="order-status" value="Shipped" checked="checked">
                          <label for="Shipped7">&nbsp; Shipped</label>
                          {% else %}
                          <input type="radio" id="Shipped8" name="order-status" value="Shipped">
                          <label for="Shipped8">&nbsp; Shipped</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Delivered" %}
                          <input type="radio" id="Delivered7" name="order-status" value="Delivered" checked="checked">
                          <label for="Shipped7">&nbsp; Delivered</label>
                          {% else %}
                          <input type="radio" id="Delivered8" name="order-status" value="Delivered">
                          <label for="Shipped8">&nbsp; Delivered</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12">
                          <input class="btn" title="Update Order Status" type="submit" value="Update Status">
                      </div>
                  </form>
                  <div class="row user-info">
                      <p>Name: {{ order.get_name() }} <span title="User ID">({{ order.get_user_id() }})</span></p>
                      <div class="col-6">
                          <h5>Contact</h5>
                          <p>Contact Number: {{ order.get_contact_num() }}</p>
                          <p>Email: {{ order.get_email() }}</p>
                      </div>
                      <div class="col-6">
                          <h5>Shipping</h5>
                          <p>Shipping Method: {{ order.get_ship_method() }}</p>
                          <p>Shipping Address: {{ order.get_ship_address() }}</p>
                      </div>
                  </div>
              </div>
              <br>
              <div class="col-md-3 col-12 order_summary">
                  <table>
                    <thead>
                      <tr>
                          <th colspan="4"><h5>Order Summary</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if order.get_buy_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Buy</h6></td>
                        </tr>
                        {% for book in order.get_buy_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>X{{ order.get_buy_item()[book] }}</td>
                            <td>${{ books_dict[book].get_price() }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if order.get_rent_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Rent</h6></td>
                        </tr>
                        {% for book in order.get_rent_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td colspan="2" style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>{{ "$%.2f"|format((books_dict[book].get_price()|float)*0.1) }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                      <tr class="bottom-sticky">
                          <td colspan="4">
                              <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}
      </div>

        <div class="tab-pane fade" id="delivered-order" role="tabpanel" aria-labelledby="delivered-order-tab">
          {% if deliver_order|length == 0 %}
          <br>
          <h4>None of the orders have been delivered.</h4>
          {% else %}
          {% for order in deliver_order %}
          <div class="row">
              <div class="order-card col-md-9 col-12">
                  <p class="order-date" title="Order Date">{{ order.get_order_date() }}</p>
                  <h2 class="order-id" title="Order ID">#{{ order.get_order_id() }}</h2>

                  <form action="/admin/manage_orders/edit_status/{{ order.get_order_id() }}" class="row" method="POST">
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Ordered" %}
                          <input type="radio" id="Ordered9" name="order-status" value="Ordered" checked="checked">
                          <label for="Ordered7">&nbsp; New</label>
                          {% else %}
                          <input type="radio" id="Ordered0" name="order-status" value="Ordered">
                          <label for="Ordered8">&nbsp; New</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Confirmed" %}
                          <input type="radio" id="Confirmed9" name="order-status" value="Confirmed" checked="checked">
                          <label for="Confirmed7">&nbsp; Confirmed</label>
                          {% else %}
                          <input type="radio" id="Confirmed0" name="order-status" value="Confirmed">
                          <label for="Confirmed8">&nbsp; Confirmed</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12 form-check">
                          {% if order.get_order_status() == "Shipped" %}
                          <input type="radio" id="Shipped9" name="order-status" value="Shipped" checked="checked">
                          <label for="Shipped7">&nbsp; Shipped</label>
                          {% else %}
                          <input type="radio" id="Shipped0" name="order-status" value="Shipped">
                          <label for="Shipped8">&nbsp; Shipped</label>
                          {% endif %}
                      </div>
                      <div class="col-md-3 col-12 form-check">
                          {% if order.get_order_status() == "Delivered" %}
                          <input type="radio" id="Delivered9" name="order-status" value="Delivered" checked="checked">
                          <label for="Shipped9">&nbsp; Delivered</label>
                          {% else %}
                          <input type="radio" id="Delivered0" name="order-status" value="Delivered">
                          <label for="Shipped0">&nbsp; Delivered</label>
                          {% endif %}
                      </div>
                      <div class="col-md-2 col-12">
                          <input class="btn" title="Update Order Status" type="submit" value="Update Status">
                      </div>
                  </form>
                  <div class="row user-info">
                      <p>Name: {{ order.get_name() }} <span title="User ID">({{ order.get_user_id() }})</span></p>
                      <div class="col-6">
                          <h5>Contact</h5>
                          <p>Contact Number: {{ order.get_contact_num() }}</p>
                          <p>Email: {{ order.get_email() }}</p>
                      </div>
                      <div class="col-6">
                          <h5>Shipping</h5>
                          <p>Shipping Method: {{ order.get_ship_method() }}</p>
                          <p>Shipping Address: {{ order.get_ship_address() }}</p>
                      </div>
                  </div>
              </div>
              <br>
              <div class="col-md-3 col-12 order_summary">
                  <table>
                    <thead>
                      <tr>
                          <th colspan="4"><h5>Order Summary</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if order.get_buy_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Buy</h6></td>
                        </tr>
                        {% for book in order.get_buy_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>X{{ order.get_buy_item()[book] }}</td>
                            <td>${{ books_dict[book].get_price() }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if order.get_rent_item() != '' %}
                        <tr class="label">
                            <td colspan="4"><h6>Rent</h6></td>
                        </tr>
                        {% for book in order.get_rent_item() %}
                        <tr class="products">
                            <td><img src={{ books_dict[book].get_img() }}></td>
                            <td colspan="2" style="text-align:left;">{{ books_dict[book].get_title() }}</td>
                            <td>{{ "$%.2f"|format((books_dict[book].get_price()|float)*0.1) }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                      <tr class="bottom-sticky">
                          <td colspan="4">
                              <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}
      </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
