{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Manage Account": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar using dictionary #}
    {{ admin_sidebar("Manage Accounts") }}
    <div class="col-lg-10 py-3 px-5">
      <h2>User account overview</h2>
      <hr>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Account ID</th>
              <th scope="col">Type</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user_id, user in users.items() %}
            <tr>
              <td>{{ user_id }}</td>
              <td>{{ user.__class__.__name__ }}</td>
              <td>{{ user.get_username() }}</td>
              <td>{{ user.get_email() }}</td>
              <td>
                <a href="#">
                  <i class="fa-solid fa-pen" data-bs-toggle="tooltip" title="Edit"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-trash" data-bs-toggle="tooltip" title="Delete"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>[].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map(trigger => new bootstrap.Tooltip(trigger));</script>
{% endblock %}
