{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Manage Account": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar using dictionary #}
    {{ admin_sidebar("Manage Accounts") }}
    <div class="col-lg-10 py-3 px-5">
      <h2>User account overview</h2>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
        Add Customer
      </button>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              {% if is_master %}
              <th scope="col">Type</th>
              {% endif %}
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            {% if is_master %} {% set name = none %}
            {% else %} {% set name = user.get_name() %}
            {% endif %}
            <tr class="account-row">
              <td>{{ user.get_username() }}</td>
              <td>{{ name if name else "-" }}</td>
              <td>{{ user.get_email() }}</td>
              {% if is_master %}
              <td>{{ user.__class__.__name__ }}</td>
              {% endif %}
              <td class="account-actions d-flex">
                <a href="#" class="me-auto">
                  <i class="fa-solid fa-pen" data-bs-toggle="tooltip" title="Edit"></i>
                </a>
                <a href="#" class="me-auto">
                  <i class="fa-solid fa-trash" data-bs-toggle="tooltip" title="Delete"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# Modals #}
{% block modals %}
{# Add Customer Modal #}
<div class="modal fade" id="addCustomerModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>[].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map(trigger => new bootstrap.Tooltip(trigger));</script>
{% endblock %}
