<!-- Brand name and Logo -->

<nav class="navbar brand-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/img/bbblogo.png" alt="BrasBasahBooks Logo" class="d-inline-block" id="logo">
      <span id="store_name">BrasBasahBooks</span>
    </a>
  </div>
</nav>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" id="first-nav-item">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">English Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chinese Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <ul class="nav justify-content-end">
        <form class="d-flex">
          <!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-field">-->
          <li class="">
            <input class="form-control" type="search" placeholder="Search..." aria-label="Search" id="search-field">
          </li>
          <li class="">
            <button class="btn nav-link" type="submit"><i class="fa fa-search"></i></button>
          </li>
        </form>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user nav-icon"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/go_cart"><i class="fa fa-shopping-cart nav-icon"></i></a>
        </li>
      </ul>
  </div>
</nav>
