<div class="d-flex flex-column sidebar col-2 p-3">
  <ul class="nav flex-column mb-auto">
    <li>
      <a href="#" class="nav-link active disabled">
        My Account
      </a>
    </li>
    <li>
      <a href="{{ url_for('home') }}" class="nav-link">
        My Orders
      </a>
    </li>
    <li>
      <a href="{{ url_for('home') }}" class="nav-link">
        My Wishlist
      </a>
    </li>
    <li>
      <a href="{{ url_for('home') }}" class="nav-link">
        My Coupons
      </a>
    </li>
  </ul>
</div>
