{% extends "base.html" %}

{% block title %}Add Book{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/addbook.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}

<h1 class="display-4 padding-top">Add Book</h1>

<form method="POST" action="">

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.language, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.category, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.age, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.action, class="form-check", style="list-style-type:none") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.title, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.author, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.price, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.qty, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.desc, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.img, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="grid-form-spacer submitpadding">
    <input type="submit" value="Add Book" class="btn btn-primary themecolor submitcenter"/>
  </div>
</form>
{% endblock %}

{% block footer %}
  {% include 'includes/_footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
