{% extends "base.html" %}

{% block title %}BrasBasahBooks Cart{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/cart.css">

{% endblock %}

{% block content %}
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
      </ol>
    </div>
    <!-- Page Name -->
    <h2 class="page-name"><span>Shopping Cart</span></h2>
    <p class="cart-label">For buying</p>
    <div class="row">
      {% if book_count == 0 %}
      <div class="col-9 empty-cart">
        <h5>Your cart is empty. <a href="/allbooks">Browse more</a>.</h5>
      </div>
      {% else %}
      <div class="col-9 buying-cart">

<!--        <img src="{{ url_for('static',filename='img/cover2.png') }}" alt="book cover">-->
          <table class="table table-striped table-hover">
            <tbody>
            {% for book in book_cart %}
                <tr>
                    <form method="POST" action="/update_cart">
                        <td rowspan="3" class="col-2"><img src="{{ url_for('static',filename='img/cover2.png') }}" alt="book cover"></td>
                        <td class="col-5"><h4>{{ book_name }}</h4>#<input type="number" class="book_id" name="book_id" value={{ book_id }} readonly></td>
                        <td class="col-2"><h5>${{ book_price }}</h5></td>
                        <td class="col-2"><input type="number" class="quantity-selector" name="quantity" min="0" value={{ book_quantity }}>
                        <button type="submit" class="btn update-btn" onclick="update_cart()">Update</button></td>
                    </form>
                    <form method="POST" action="/delete_buying_cart">
                        <input type="number" name="book_id" class="book_id" style="display:none;" value={{ book_id }} readonly></td>
                        <td class="col-1"><button type="submit" onclick="delete_buying_cart()" name="button" style="float:right;" class="btn"><i class="fa fa-close"></i></button></td>
                    </form>
                </tr>
                {% endfor %}
              </tbody>
          </table>

      </div>
      {% endif %}
      <div class="col-3 order-summary">
        <div class="card">
          <div class="card-header">
            <p>Order Summary
            <span>{{ book_quantity+rent_book_count }} item(s)</span></p>
          </div>
          <div class="card-body">
            <p class="card-text">Subtotal<span>${{ total_price }}</span></p>
            <p class="card-text">Shipping <span>$5.00</span></p>
            <p class="card-text bolder">Estimated Total <span>${{ total_price+5 }}</span></p>
          </div>
        </div>
        {% if (book_count + rent_book_count) == 0 %}
                <button type="submit" onclick="checkout()" disabled class="check-out-button btn" name="button">Check Out</button>
        {% else %}
          <form action="/checkout" method="POST">
                <button type="submit" class="check-out-button btn" name="button">Check Out</button>
          </form>
        {% endif %}
        <div class="show-payment">
          <p>Accepted Payment Method</p>
          <i class="fa fa-cc-visa"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-amex"></i>
        </div>
      </div>

    </div>

    <p class="cart-label">For renting</p>
    <div class="row">
      {% if rent_book_count == 0 %}
      <div class="col-9 empty-cart">
        <h5>Nothing to rent. <a href="/allbooks">Browse more</a>.</h5>
      </div>
      {% else %}
      <div class="col-9 renting-cart">

<!--        <img src="{{ url_for('static',filename='img/cover2.png') }}" alt="book cover">-->
          <table class="table table-striped table-hover">
            <tbody>
            {% for book in user_rent_cart %}
                <tr>
                    <form method="POST" action="/update_renting_cart">
                        <td rowspan="3" class="col-2"><img src="{{ url_for('static',filename='img/cover2.png') }}" alt="book cover"></td>
                        <td class="col-5"><h4>{{ rent_bookname }}</h4>#<input type="number" class="book_id" value={{ rent_bookid }} readonly></td>
                        <td class="col-4"><h5>${{ rent_bookprice }}</h5></td>
                    </form>
                    <form method="POST" action="/delete_renting_cart">
                        <input type="number" name="book_id" class="book_id" style="display:none;" value={{ book_id }} readonly></td>
                        <td class="col-1"><button type="submit" onclick="delete_renting_cart()" name="button" style="float:right;" class="btn"><i class="fa fa-close"></i></button></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
          </table>

      </div>
      {% endif %}

    </div>
{% endblock %}

{% block scripts %}
<!-- put js here -->
{% endblock %}
