{% extends "base.html" %}

{% block title %}<!-- insert title here-->{% endblock %}

{% block stylesheets %}
<!-- put css here-->
<link rel="stylesheet" href="static/css/navbar&footer.css">
<link rel="stylesheet" href="static/css/standard.css">

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- btw we need to change the naming of the css file names too-->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
{% endblock %}

{% block content %}
<!-- put contents here-->
<h1 class="display-4">Home</h1>
<p>We really need another app dev meeting this week...</p>
{% endblock %}

{% block scripts %}
<!-- put js here -->
{% endblock %}
