{% extends "base.html" %}
{% block title %}Inventory{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/standard.css">

{% endblock %}

{% block content %}
<h1 class="display-4">Inventory</h1>
<div>
  {% if count == 0 %}
  <p>There are no books.</p>
  {% elif count == 1 %}
  <p>There is 1 book.</p>
  {% else %}
  <p>There are {{ count }} books.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Book Cover</th>
        <th>Language</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price ($)</th>
        <th>Quantity</th>
        <th>Action</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for book in books_list %}
      <tr>
        <td>{{ book.get_book_id() }}</td>
        <td>
          <img src="{{ book.get_img() }}" alt="{{ book.get_title() }}" style="width:40px;height:60px;">
        </td>
<!--        {% if book.get_language() == "E" %}-->
<!--        <td>English</td>-->
<!--        {% elif book.get_language() == "C" %}-->
<!--        <td>Chinese</td>-->
<!--        {% elif book.get_language() == "M" %}-->
<!--        <td>Malay</td>-->
<!--        {% elif book.get_language() == "T" %}-->
<!--        <td>Tamil</td>-->
<!--        {% endif %}-->
        <td>{{ book.get_language() }}</td>
        <td>{{ book.get_title() }}</td>
        <td>{{ book.get_author() }}</td>
        <td>{{ book.get_price() }}</td>
        <td>{{ book.get_qty() }}</td>
<!--        {% if book.get_action() == "B" %}-->
<!--        <td>Buy</td>-->
<!--        {% elif book.get_action() == "R" %}-->
<!--        <td>Rent</td>-->
<!--        {% elif book.get_action() == "BR" %}-->
<!--        <td>Buy and Rent</td>-->
<!--        {% endif %}-->
        <td>{{ book.get_action() }}</td>
        <td><a href="/update-book/{{book.get_book_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_book', id=book.get_book_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{book.get_title()}} by {{book.get_author()}}?');">-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{book.get_book_id()}}">
              Delete
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{book.get_book_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{book.get_title()}} by {{book.get_author()}} priced at ${{book.get_price()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>

          </form>
        </td>
        <td><a href="/book/{{book.get_book_id()}}" class="btn btn-warning">View Book</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div class="twentypx">
  <a href="/add-book" class="btn defaultbtn">Add Book</a>
</div>
{% endblock %}
