{% extends "base.html" %}

{% block title %}BrasBasahBooks Cart{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/order_confirmation.css">

{% endblock %}

{% block content %}
  <section>
    <h1>Thank you for shopping with us!</h1>
    <p>
      You will be redirected to the home page after <span id="seconds">5</span> seconds. Please do not refresh the page.<br>
      Should you have any enquiries, please do not hesitate to <a href="/enquiry">contact us</a>.
    </p>
  </section>
</body>
</html>

{% endblock %}

{% block scripts %}

{% endblock %}
