{% extends "base.html" %}

{% block title %}BrasBasahBooks Cart{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/cart.css">

{% endblock %}

{% block content %}
  <section>
    <p>
      Thank you for shopping with us! If you have any questions, please email
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
    <p>
      You will be redirected to the home page after <span id="seconds">5</span> seconds.
    </p>
  </section>
</body>
</html>

{% endblock %}

{% block scripts %}
    <script>
        timeLeft = 5;

        function countdown() {
            timeLeft--;
            document.getElementById("seconds").innerHTML = String( timeLeft );
            if (timeLeft > 0) {
                setTimeout(countdown, 1000);
            }
        };

       setTimeout(countdown, 1000);

       setTimeout(function(){
          window.location.href = '/';
       }, 5000);
</script>
{% endblock %}
