{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Change Password</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <div class="input-group mb-4">
          <span class="input-group-text"><i class="fa fa-key"></i></span>
          {{ render_field(form.current_password, class="form-control", placeholder="Current Password") }}
        </div>
        <div class="input-group mb-4">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          {{ render_field(form.new_password, class="form-control", placeholder="New Password") }}
        </div>
        <div class="input-group mb-4">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm Password") }}
        </div>
        <input type="submit" value="CONFIRM" class="input-group btn"/>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <a href="{{ url_for('password_forget') }}">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
