{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Sign Up</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <div class="mb-4">
          {{ render_field(form.username, "Username should be 3-20 characters long", class="form-control", placeholder="Username") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.email, "Please enter a valid email like example@email.com", class="form-control", placeholder="Email") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.password, "Password should be at least 8 characters long", class="form-control", placeholder="Password") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.confirm, "Please confirm your password", class="form-control", placeholder="Confirm Password") }}
        </div>
        <input type="submit" value="SIGN UP" class="input-group btn"/>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Already have an account?&nbsp<a href="{{ url_for('login') }}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
